# CAR PRICE PREDICTION

### Problem statement

With the covid 19 impact in the market, we have seen lot of changes in the car market. Now some
cars are in demand hence making them costly and some are not in demand hence cheaper. One
of our clients works with small traders, who sell used cars. With the change in market due to covid
19 impact, our client is facing problems with their previous car price valuation machine learning
models. So, they are looking for new machine learning models from new data. We have to make
car price valuation model. This project contains two phase

In this phase, we have to scrape at least 5000 used cars data. we need to scrape the data of used cars from websites (Olx, cardekho, Cars24
etc.) we need web scraping for this. we have to fetch data for different locations and  include all types of cars in our data for example- SUV, Sedans, Coupe, minivan,
Hatchback.

In [1]:
# importing libraries

import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys

In [26]:
# initializing the driver to a variable

driver= webdriver.Chrome('chromedriver.exe')

In [3]:
# Giving address to the driver

driver.get('https://www.cardekho.com/')

In [4]:
# Clicking on the used cars option.

driver.find_element_by_xpath("//nav[@class='gsc_col-sm-12 gsc_col-md-12']/ul/li[2]/span/span").click()
time.sleep(2)

# Fetching the city page's urls.

cities=[]
city= driver.find_elements_by_xpath("//li[@class='gsc_col-xs-4 gsc_col-sm-3 gsc_col-md-2']/a")
for i in city:
    cities.append(i.get_attribute('href'))

In [88]:
# Creating lists to store data.

year=[]
comp=[]
model=[]
var=[]
fuel=[]
kms=[]
onrs=[]
trans=[]
milage=[]
seat=[]
loc=[]
price=[]
cars=[]

# Scraping the required data.

for i in cities:
    driver.get(i)
    time.sleep(3)
    
    # Extracting the urls of the car pages.
    
    driver.execute_script("window.scrollTo(0, 4000)")
    time.sleep(2)
    driver.execute_script("window.scrollTo(4000, 6000)")
    time.sleep(2)
    driver.execute_script("window.scrollTo(6000, 8000)")
    time.sleep(2)
    driver.execute_script("window.scrollTo(8000, 10000)")
    time.sleep(3)
    driver.execute_script("window.scrollTo(10000, 12000)")
    time.sleep(3)
    driver.execute_script("window.scrollTo(12000, 14000)")
    time.sleep(3)
    driver.execute_script("window.scrollTo(14000, 16000)")
    time.sleep(3)
    driver.execute_script("window.scrollTo(16000, 18000)")
    time.sleep(5)
    car= driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")
    for j in car:
        cars.append(j.get_attribute('href'))
        
    # Opening the car pages and scraping the data.
    for k in cars:
        driver.get(k)
        time.sleep(2)
        
        # Scraping year of manufacture.
        try:
            y= driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li/div/div")
            year.append(y.text)
        except NoSuchElementException:
            y= driver.find_element_by_xpath("//ul[@class='gsc_row detailsList']/li/div/div[2]")
            year.append(y.text)
            
        # Scraping company name.   
        try:
            c= driver.find_element_by_xpath("//div[@class='vdp-head']/h1[2]")
            comp.append(c.text.split(' ')[0]) 
        except NoSuchElementException:
            c= driver.find_element_by_xpath("//div[@class='paddingBorder clearfix']/div/h1")
            comp.append(c.text.split(' ')[1])
            
        # Scraping model name.
        try:
            m= driver.find_element_by_xpath("//div[@class='vdp-head']/h1[2]")
            model.append(m.text.split(' ')[1]) 
        except NoSuchElementException:
            m= driver.find_element_by_xpath("//div[@class='paddingBorder clearfix']/div/h1")
            model.append(m.text.split(' ',2)[-1])
            
        # Scraping the variant.
        try:
            v= driver.find_element_by_xpath("//div[@class='vdp-head']/h1[2]")
            var.append(v.text.split(' ',2)[-1]) 
        except NoSuchElementException:
            v= driver.find_element_by_xpath("//div[@class='paddingBorder clearfix']/div/div[1]")
            var.append(v.text)
    
        # Scraping feul type.
        try:
            f= driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[5]/div/div")
            fuel.append(f.text)
        except NoSuchElementException:
            f= driver.find_element_by_xpath("//ul[@class='gsc_row detailsList']/li[3]/div/div[2]")
            fuel.append(f.text)
        
        # Scraping kilometers ran.
        try:
            l= driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[3]/div/div")
            kms.append(l.text)
        except NoSuchElementException:
            l= driver.find_element_by_xpath("//ul[@class='gsc_row detailsList']/li[4]/div/div[2]")
            kms.append(l.text)
            
        # Scraping number of owners.
        try:
            o= driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[4]/div/div")
            onrs.append(o.text)
        except NoSuchElementException:
            o= driver.find_element_by_xpath("//ul[@class='gsc_row detailsList']/li[6]/div/div[2]")
            onrs.append(o.text)
            
        # Scraping transmition type.
        try:
            t= driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[6]/div/div")
            trans.append(t.text)
        except NoSuchElementException:
            t= driver.find_element_by_xpath("//ul[@class='gsc_row detailsList']/li[8]/div/div[2]")
            trans.append(t.text)
            
        # Scraping mileage.
        try:
            m= driver.find_element_by_xpath("//div[@class='SpecsFeatureList']/ul/li/div[2]")
            milage.append(m.text)
        except NoSuchElementException:
            m= driver.find_element_by_xpath("//div[@id='specification-wdght']/div/div/div/ul/li[1]/div/div[2]")
            milage.append(m.text)
            
        # Scraping number of seats.
        
        try:
            s= driver.find_element_by_xpath("//div[contains(text(),'Seats')]/../div[2]")
            seat.append(s.text)
        except NoSuchElementException:
            seat.append('-')
            
        # Scraping location.
        
        loc.append(i.split('+')[-1])
            
        # Scraping the price.
        try:
            p= driver.find_element_by_xpath("//span[@class='amount']")
            price.append(p.text)
        except NoSuchElementException:
            p= driver.find_element_by_xpath("//div[@class='priceSection']/span[2]")
            price.append(p.text) 
            
    # emptying the cars list.
    cars=[]

In [4]:
# Creating dataframe for the data.

cars= pd.DataFrame({"Year of manufacture":year,"Company":comp,"Model":model,"Variant":var,"Fuel type":fuel,"Location":loc,
                     "Kilometers driven":kms,"No. of Owners":onrs,"Transmission":trans,"Mileage":milage,"Seats":seat,"Price":price})
cars

,Year of manufacture,Company,Model,Variant,Fuel type,Location,Kilometers driven,No. of Owners,Transmission,Mileage,Seats,Price
0,2019,Maruti,Swift Dzire,VXI 1.2,Petrol,ahmedabad,"9,718 Kms",1st Owner,Manual,21.21 kmpl,5,"6,65,000"
1,2011,Honda,City,1.5 V MT,Petrol,ahmedabad,"38,647 Kms",1st Owner,Manual,17 kmpl,5,"3,99,500"
2,2012,Maruti,Alto K10,LXI,Petrol,ahmedabad,"89,579 Kms",1st Owner,Manual,20.92 kmpl,5,"1,77,500"
3,2016,Maruti,Wagon R,VXI,Petrol,ahmedabad,"81,674 Kms",1st Owner,Manual,21.79 kmpl,5,"3,60,000"
4,2012,Maruti,Eeco,5 Seater AC,Petrol,ahmedabad,"57,341 Kms",1st Owner,Manual,16.11 kmpl,5,"2,79,000"
...,...,...,...,...,...,...,...,...,...,...,...,...
1888,2010,Hyundai,i10,Sportz 1.2,Petrol,pune,"68,307 kms",First Owner,Manual,20.36 kmpl,5,2.3 Lakh*
1889,2017,BMW,7,Series 730Ld DPE Signature,Diesel,pune,"23,843 kms",First Owner,Automatic,16.77 kmpl,5,78 Lakh*
1890,2010,Hyundai,i20,1.2 Sportz,Petrol,pune,"24,296 kms",Second Owner,Manual,17.0 kmpl,5,2.93 Lakh*
1891,2011,Maruti,Ritz,ZXi,Petrol,pune,"68,000 kms",First Owner,Manual,18.5 kmpl,5,2.75 Lakh*
1892,2015,BMW,M,Series X5 M,Petrol,pune,"27,681 kms",First Owner,Automatic,9.0 kmpl,5,85 Lakh*

In [90]:
#cars.to_csv('1_12_cd.csv', index=False)

In [78]:
# Giving another address to the driver

driver.get('https://www.cars24.com/')

In [5]:
# Clicking on view all cars

v= driver.find_element_by_xpath("//span[@class='jVs6G']/a")
all_cars= v.get_attribute('href')
v.click()

In [6]:
# Creating lists to store data.

year=[]
comp=[]
model=[]
var=[]
fuel=[]
kms=[]
onrs=[]
trans=[]
milage=[]
seat=[]
loc=[]
price=[]
cars=[]

# Scraping the required data.

for i in range(1,5):
    
    driver.get(all_cars)
    time.sleep(2)
    driver.find_element_by_xpath("//p[@class='_1OR7d']").click()  # Clicking on city option
    time.sleep(2)
    driver.find_element_by_xpath("//ul[@class='_16Bvy']/li[{}]".format(i)).click() # Selecting the city
    time.sleep(3)
    
    # Extracting the urls of the car pages.
    driver.execute_script("window.scrollTo(0,5000)")
    time.sleep(6)
    car= driver.find_elements_by_xpath("//div[@class='col-4']/a")
    for j in car:
        cars.append(j.get_attribute('href'))
        
    # Opening the car pages and scraping the data.
    for r in cars:
        driver.get(r)
        time.sleep(1)
        
        # Scraping year of manufacture.
        y= driver.find_element_by_xpath("//h2[@class='_2geSF']")
        year.append(y.text.split(' ')[0])
            
        # Scraping company name.   
        c= driver.find_element_by_xpath("//h2[@class='_2geSF']")
        comp.append(c.text.split(' ')[1])
            
        # Scraping model, variant, transmission type.
        m= driver.find_element_by_xpath("//h2[@class='_2geSF']")
        v= driver.find_element_by_xpath("//span[@class='_18vo2']")
        t= driver.find_element_by_xpath("//span[@class='_18vo2']/small")
        
        model.append(m.text.split(' ',2)[2].replace(v.text,''))
        var.append(v.text.replace(t.text,''))
        trans.append(t.text)
    
        # Scraping feul type.
        f= driver.find_element_by_xpath("//ul[@class='_2tp8h']/li[3]")
        fuel.append(f.text)
        
        # Scraping kilometers ran.
        k= driver.find_element_by_xpath("//ul[@class='_2tp8h']/li[1]")
        kms.append(k.text)
            
        # Scraping number of owners.
        o= driver.find_element_by_xpath("//ul[@class='_2tp8h']/li[5]")
        onrs.append(o.text)
        
        # Scraping location.
        l= driver.find_element_by_xpath("//p[@class='_2NHUv']/span")
        loc.append(l.text)
            
        # Scraping the price.
        p= driver.find_element_by_xpath("//strong[@class='_2yYvS']")
        price.append(p.text.split('₹')[-1])
        
        try:
            driver.find_element_by_xpath("//ul[@class='Qqw8W']/li[3]").click() # clicking on the specification option.
            time.sleep(1)
        except NoSuchElementException:
            pass
        
        # Scraping mileage.
        try:
            g= driver.find_element_by_xpath("//label[contains(text(),'Mileage (kmpl)')]/../strong")
            milage.append(g.text)
        except NoSuchElementException:
            milage.append('-')
            
        # Scraping number of seats.
        try:
            s= driver.find_element_by_xpath("//label[contains(text(),'Seating capacity')]/../strong")
            seat.append(s.text)
        except NoSuchElementException:
            seat.append('-')
            
    # emptying the cars list.
    cars=[]

In [6]:
# Creating dataframe for the data.

cars1= pd.DataFrame({"Year of manufacture":year,"Company":comp,"Model":model,"Variant":var,"Fuel type":fuel,"Location":loc,
                    "Kilometers driven":kms,"No. of Owners":onrs,"Transmission":trans,"Mileage":milage,"Seats":seat,"Price":price})
cars1

,Year of manufacture,Company,Model,Variant,Fuel type,Location,Kilometers driven,No. of Owners,Transmission,Mileage,Seats,Price
0,2012,Maruti,Alto K10,LXI,Petrol,DELHI,"42,321 km",1st Owner,MANUAL,-,-,"1,75,699"
1,2021,Hyundai,VENUE,S MT 1.2 KAPPA,Petrol,DELHI,"2,589 km",1st Owner,NaN,-,-,"8,07,999"
2,2015,Maruti,Ritz,VDI,Diesel,DELHI,"22,091 km",1st Owner,MANUAL,-,-,"3,56,299"
3,2013,Hyundai,Eon,MAGNA PLUS,Petrol,DELHI,"29,683 km",1st Owner,MANUAL,-,-,"2,23,799"
4,2019,Maruti,Eeco,7 STR,Petrol,DELHI,"6,883 km",1st Owner,MANUAL,-,-,"3,50,899"
...,...,...,...,...,...,...,...,...,...,...,...,...
755,2017,Maruti,Alto K10,VXI (O) AMT,Petrol,MUMBAI,"30,820 km",1st Owner,MANUAL,-,-,"3,47,999"
756,2014,Hyundai,Eon,ERA PLUS,Petrol,MUMBAI,"35,075 km",2nd Owner,MANUAL,21.1,5,"2,45,000"
757,2016,Hyundai,Grand i10,SPORTZ 1.2 KAPPA VTVT,Petrol,MUMBAI,"47,324 km",1st Owner,MANUAL,18.9,5,"4,40,599"
758,2014,Toyota,Etios Liva,G,Petrol,MUMBAI,"28,363 km",1st Owner,MANUAL,-,5,"3,57,000"
759,2017,Maruti,Swift,VDI ABS,Diesel,MUMBAI,"31,731 km",1st Owner,MANUAL,-,-,"5,78,299"

In [8]:
#cars1.to_csv('1_5_c24.csv', index=False)

In [ ]:
# Creating lists to store data.

year=[]
comp=[]
model=[]
var=[]
fuel=[]
kms=[]
onrs=[]
trans=[]
milage=[]
seat=[]
loc=[]
price=[]
cars=[]

# Scraping the required data.

for i in range(5,11):
    
    driver.get(all_cars)
    time.sleep(2)
    driver.find_element_by_xpath("//p[@class='_1OR7d']").click()  # Clicking on city option
    time.sleep(2)
    driver.find_element_by_xpath("//ul[@class='_16Bvy']/li[{}]".format(i)).click() # Selecting the city
    time.sleep(3)
    
    # Extracting the urls of the car pages.
    driver.execute_script("window.scrollTo(0,5000)")
    time.sleep(6)
    car= driver.find_elements_by_xpath("//div[@class='col-4']/a")
    for j in car:
        cars.append(j.get_attribute('href'))
        
    # Opening the car pages and scraping the data.
    for r in cars:
        driver.get(r)
        time.sleep(1)
        
        # Scraping year of manufacture.
        y= driver.find_element_by_xpath("//h2[@class='_2geSF']")
        year.append(y.text.split(' ')[0])
            
        # Scraping company name.   
        c= driver.find_element_by_xpath("//h2[@class='_2geSF']")
        comp.append(c.text.split(' ')[1])
            
        # Scraping model, variant, transmission type.
        m= driver.find_element_by_xpath("//h2[@class='_2geSF']")
        v= driver.find_element_by_xpath("//span[@class='_18vo2']")
        t= driver.find_element_by_xpath("//span[@class='_18vo2']/small")
        
        model.append(m.text.split(' ',2)[2].replace(v.text,''))
        var.append(v.text.replace(t.text,''))
        trans.append(t.text)
    
        # Scraping feul type.
        f= driver.find_element_by_xpath("//ul[@class='_2tp8h']/li[3]")
        fuel.append(f.text)
        
        # Scraping kilometers ran.
        k= driver.find_element_by_xpath("//ul[@class='_2tp8h']/li[1]")
        kms.append(k.text)
            
        # Scraping number of owners.
        o= driver.find_element_by_xpath("//ul[@class='_2tp8h']/li[5]")
        onrs.append(o.text)
        
        # Scraping location.
        l= driver.find_element_by_xpath("//p[@class='_2NHUv']/span")
        loc.append(l.text)
            
        # Scraping the price.
        p= driver.find_element_by_xpath("//strong[@class='_2yYvS']")
        price.append(p.text.split('₹')[-1])
        
        try:
            driver.find_element_by_xpath("//ul[@class='Qqw8W']/li[3]").click() # clicking on the specification option.
            time.sleep(1)
        except NoSuchElementException:
            pass
        
        # Scraping mileage.
        try:
            g= driver.find_element_by_xpath("//label[contains(text(),'Mileage (kmpl)')]/../strong")
            milage.append(g.text)
        except NoSuchElementException:
            milage.append('-')
            
        # Scraping number of seats.
        try:
            s= driver.find_element_by_xpath("//label[contains(text(),'Seating capacity')]/../strong")
            seat.append(s.text)
        except NoSuchElementException:
            seat.append('-')
            
    # emptying the cars list.
    cars=[]

In [9]:
# Creating dataframe for the data.

cars2= pd.DataFrame({"Year of manufacture":year,"Company":comp,"Model":model,"Variant":var,"Fuel type":fuel,"Location":loc,
                    "Kilometers driven":kms,"No. of Owners":onrs,"Transmission":trans,"Mileage":milage,"Seats":seat,"Price":price})
cars2

,Year of manufacture,Company,Model,Variant,Fuel type,Location,Kilometers driven,No. of Owners,Transmission,Mileage,Seats,Price
0,2020,Maruti,New Wagon-R,ZXI 1.2,Petrol,PUNE,"4,086 km",1st Owner,MANUAL,-,-,"5,78,799"
1,2015,Maruti,Alto 800,LXI,Petrol,PUNE,"7,478 km",2nd Owner,MANUAL,22.74,5,"2,63,599"
2,2015,Maruti,Alto 800,LXI,Petrol,PUNE,"9,969 km",1st Owner,MANUAL,22.74,5,"2,78,599"
3,2015,Maruti,Alto K10,VXI AMT,Petrol,PUNE,"9,013 km",1st Owner,MANUAL,24.07,5,"3,40,999"
4,2013,Maruti,Wagon R 1.0,VXI,Petrol,PUNE,"17,781 km",1st Owner,MANUAL,20.5,5,"3,02,699"
...,...,...,...,...,...,...,...,...,...,...,...,...
1275,2014,Maruti,Celerio,VXI,Petrol,AHMEDABAD,"1,02,682 km",1st Owner,MANUAL,-,-,"2,51,299"
1276,2013,Maruti,Swift,VXI,Petrol,AHMEDABAD,"81,830 km",1st Owner,MANUAL,-,-,"3,50,999"
1277,2018,Maruti,Dzire,VXI,Petrol,AHMEDABAD,"47,250 km",1st Owner,MANUAL,22,5,"6,19,399"
1278,2016,Hyundai,Creta,1.6 CRDI SX PLUS AUTO,Diesel,AHMEDABAD,"34,393 km",1st Owner,AUTOMATIC,19.67,5,"9,95,299"
1279,2017,Maruti,Eeco,5 STR WITH AC PLUSHTR,Petrol + CNG,AHMEDABAD,"1,00,121 km",2nd Owner,MANUAL,-,-,"3,94,699"

In [ ]:
#cars2.to_csv('5_10_c24.csv', index=False)

In [27]:
# Giving another address to the driver

driver.get('https://www.carwale.com/')

In [20]:
# Clicking on the location icon
driver.find_element_by_xpath("//div[@class='o-brXWGL o-frwuxB o-fzptOu o-brXWGL']").click()

# Fetching the city names
cities=[]
l= driver.find_elements_by_xpath("//div[@class='o-efHQCX o-dsiSgT o-fznVCs o-fstDWG bLkSD0 o-cpnuEd']/span")
for i in l:
    cities.append(i.text)
    
# Clicking the close button.
driver.find_element_by_xpath("//span[@class='o-brXWGL o-fzoTsT o-fkqJcW  o-fznJFI o-fzptVd o-eqgCmh o-fzptYr o-evQsDB ']").click()

In [7]:
# Selecting used cars option for searching.
driver.find_element_by_xpath("//div[@class='o-cXBIhK o-cOktWz o-brXWGL']").click()
driver.find_element_by_xpath("//div[@class='o-brXWGL o-dsiSgT o-bUVylL o-AxjCR o-bkmzIL o-fHCdSc o-eZTujG o-TNyGU o-BEqzB o-frwuxB o-cOktWz o-flhBew o-bvnEWn o-cpnuEd']").click()

# clicking on the search button
driver.find_element_by_xpath("//button[@class='o-fcaNGp o-dsiSgT o-NBTwp o-bVSleT o-cWRslo o-cRLvC o-eqqVmt o-eKWNKE   o-ItVGT o-bIMsfE  o-bkmzIL o-fdTMrI _20lNcK o-cXuWIw o-casNrQ o-cDXfkV o-pAUxP o-pAUNF o-bdcqUi']").click()

In [8]:
# Finding element for search bar and entering city name into it.

bar= driver.find_element_by_id("placesQuery")
bar.send_keys(cities[0])
time.sleep(2)
driver.find_element_by_id("placesQuery").send_keys(Keys.ENTER)

In [12]:
# Getting the address to used car home page.

used_cars=[]
u= driver.find_element_by_xpath("//div[@class='grid-4 omega font15 text-black']/div/ul/li/a")
used_cars=u.get_attribute('href')

In [28]:
# Creating lists to store data.

year=[]
comp=[]
model=[]
var=[]
fuel=[]
kms=[]
onrs=[]
trans=[]
milage=[]
seat=[]
loc=[]
price=[]
cars=[]

# Scraping the required data.

for i in range(0,10):
    
    driver.get(used_cars)
    driver.find_element_by_id("global-place").click()  # Clicking on city option
    time.sleep(2)
    
    # Entering the city name.
    bar= driver.find_element_by_id("placesQuery")
    bar.send_keys(cities[i])
    time.sleep(2)
    driver.find_element_by_id("placesQuery").send_keys(Keys.ENTER)
    time.sleep(3)
    
    # Extracting the urls of the car pages.
    driver.execute_script("window.scrollTo(0,9000)")
    time.sleep(2)
    driver.execute_script("window.scrollTo(0,-1)")
    time.sleep(1)
    driver.execute_script("window.scrollTo(0,25000)")
    driver.execute_script("window.scrollTo(0,35000)")
    time.sleep(10)
    car= driver.find_elements_by_id("linkToDetails")
    for j in car:
        cars.append(j.get_attribute('href'))
        
    # Opening the car pages and scraping the data.
    for r in cars:
        driver.get(r)
        time.sleep(1)
        
        # Scraping year of manufacture.
        y= driver.find_element_by_id('content-title')
        year.append(y.text.split(' ')[0])
            
        # Scraping company name.   
        c= driver.find_element_by_xpath("//div[@class='breadcrumb margin-bottom15']/ul/li[4]/a/span")
        comp.append(c.text)
            
        # Scraping model name.
        m= driver.find_element_by_xpath("//div[@class='breadcrumb margin-bottom15']/ul/li[5]/a/span")
        model.append(m.text)

        # Scraping variant.
        v= driver.find_element_by_id("car-breadcrumb-link")
        var.append(v.text)

        #Scraping transmission type.
        t= driver.find_element_by_xpath("//ul[@class='basic-details']/li[4]/span[2]")
        trans.append(t.text)

        # Scraping feul type.
        f= driver.find_element_by_xpath("//ul[@class='basic-details']/li[3]/span[2]")
        fuel.append(f.text.replace(' + Cng',''))
        
        # Scraping kilometers ran.
        k= driver.find_element_by_xpath("//ul[@class='basic-details']/li[2]/span[2]")
        kms.append(k.text)
            
        # Scraping number of owners.
        o= driver.find_element_by_xpath("//div[contains(text(),'No. of Owner(s)')]/../div[2]")
        onrs.append(o.text)
        
        # Scraping location.
        loc.append(cities[i])
            
        # Scraping the price.
        p= driver.find_element_by_xpath("//p[@class='used-actual']")
        price.append(p.text.replace('₹ ',''))
        
        # clicking on the specification option.
        driver.find_element_by_xpath("//div[@class='cw-tabs cw-tabs-flex cw-tabs-inner-margin0']/ul/li[3]").click()
        
        # Scraping mileage.
        try:
            g= driver.find_element_by_xpath("//div[@class='equal-width'][contains(text(),'kmpl')]")
            milage.append(g.text)
        except NoSuchElementException:
            try:
                g= driver.find_element_by_xpath("//div[@class='equal-width'][contains(text(),'km/kg')]")
                milage.append(g.text)
            except NoSuchElementException:
                milage.append('-')
            
        # Scraping number of seats.
        try:
            s= driver.find_element_by_xpath("//div[@class='equal-width'][contains(text(),'Person')]")
            seat.append(s.text)
        except NoSuchElementException:
            seat.append('-')
            
    # emptying the cars list.
    cars=[]

In [11]:
# Creating dataframe for the data.

cars= pd.DataFrame({"Year of manufacture":year,"Company":comp,"Model":model,"Variant":var,"Fuel type":fuel,"Location":loc,
                    "Kilometers driven":kms,"No. of Owners":onrs,"Transmission":trans,"Mileage":milage,"Seats":seat,"Price":price})
cars4

,Year of manufacture,Company,Model,Variant,Fuel type,Location,Kilometers driven,No. of Owners,Transmission,Mileage,Seats,Price
0,2020,Volkswagen,Vento,Highline Plus 1.2 (P) AT 16 Alloy,Petrol,Mumbai,"5,355",UnRegistered Car,Automatic,18.19 kmpl,5 Person,14.5 Lakh
1,2017,Hyundai,Creta,1.6 S Petrol,Petrol,Mumbai,"29,140",First,Manual,15.29 kmpl,5 Person,10.5 Lakh
2,2013,BMW,5-Series,530d Sedan,Diesel,Mumbai,"79,123",Second,Automatic,14.8 kmpl,5 Person,19 Lakh
3,2011,Mercedes-Benz,C-Class,200 CGI Avantgarde,Petrol,Mumbai,"66,700",First,Automatic,10.6 kmpl,5 Person,12.58 Lakh
4,2014,Mercedes-Benz,A-Class,A 180 CDI Style,Diesel,Mumbai,"82,000",Second,Automatic,20.06 kmpl,4 Person,10.25 Lakh
...,...,...,...,...,...,...,...,...,...,...,...,...
2294,2018,Mercedes-Benz,GLA,200 d Sport,Diesel,Chandigarh,"28,200",First,Automatic,17.9 kmpl,5 Person,28.5 Lakh
2295,2013,Audi,A4,2.0 TDI (177bhp) Premium Plus,Diesel,Chandigarh,"47,800",Second,Automatic,17.11 kmpl,5 Person,14 Lakh
2296,2018,Audi,A6,35 TDI Matrix,Diesel,Chandigarh,"22,000",First,Automatic,16.66 kmpl,5 Person,36.5 Lakh
2297,2013,Audi,A6,2.0 TDI Premium,Diesel,Chandigarh,"63,300",First,Automatic,16.66 kmpl,5 Person,16.5 Lakh
2298,2013,Audi,A4,2.0 TDI (177bhp) Premium Sport,Diesel,Chandigarh,"63,700",Third,Automatic,17.11 kmpl,5 Person,14.5 Lakh

In [30]:
#cars.to_csv('1_10_cw.csv', index=False)

In [ ]:
# Loading the scraped data.

cars1= pd.read_csv('1_12_cd.csv')
cars2= pd.read_csv('1_5_c24.csv')
cars3= pd.read_csv('5_10_c24.csv')
cars4= pd.read_csv('1_10_cw.csv')

In [12]:
# Storing all the data in one dataframe.

df= pd.concat([cars1,cars2,cars3,cars4], axis=0, ignore_index=True)
df

,Year of manufacture,Company,Model,Variant,Fuel type,Location,Kilometers driven,No. of Owners,Transmission,Mileage,Seats,Price
0,2019,Maruti,Swift Dzire,VXI 1.2,Petrol,ahmedabad,"9,718 Kms",1st Owner,Manual,21.21 kmpl,5,"6,65,000"
1,2011,Honda,City,1.5 V MT,Petrol,ahmedabad,"38,647 Kms",1st Owner,Manual,17 kmpl,5,"3,99,500"
2,2012,Maruti,Alto K10,LXI,Petrol,ahmedabad,"89,579 Kms",1st Owner,Manual,20.92 kmpl,5,"1,77,500"
3,2016,Maruti,Wagon R,VXI,Petrol,ahmedabad,"81,674 Kms",1st Owner,Manual,21.79 kmpl,5,"3,60,000"
4,2012,Maruti,Eeco,5 Seater AC,Petrol,ahmedabad,"57,341 Kms",1st Owner,Manual,16.11 kmpl,5,"2,79,000"
...,...,...,...,...,...,...,...,...,...,...,...,...
6227,2018,Mercedes-Benz,GLA,200 d Sport,Diesel,Chandigarh,"28,200",First,Automatic,17.9 kmpl,5 Person,28.5 Lakh
6228,2013,Audi,A4,2.0 TDI (177bhp) Premium Plus,Diesel,Chandigarh,"47,800",Second,Automatic,17.11 kmpl,5 Person,14 Lakh
6229,2018,Audi,A6,35 TDI Matrix,Diesel,Chandigarh,"22,000",First,Automatic,16.66 kmpl,5 Person,36.5 Lakh
6230,2013,Audi,A6,2.0 TDI Premium,Diesel,Chandigarh,"63,300",First,Automatic,16.66 kmpl,5 Person,16.5 Lakh
6231,2013,Audi,A4,2.0 TDI (177bhp) Premium Sport,Diesel,Chandigarh,"63,700",Third,Automatic,17.11 kmpl,5 Person,14.5 Lakh

In [13]:
# Saving the dataset.

df.to_excel("finalcars.xlsx")